.icon { background-image: url(./assets/images/sprite.png); display: block; }
.icon-avatar-edit { width: 109px; height: 94px; background-position: 0px 0px; }
.icon-avatar { width: 95px; height: 94px; background-position: -109px 0px; }
.icon-back-button { width: 56px; height: 56px; background-position: 0px -94px; }
.icon-delete-white { width: 45px; height: 44px; background-position: -56px -94px; }
.icon-delete { width: 45px; height: 44px; background-position: -101px -94px; }
.icon-edit { width: 45px; height: 44px; background-position: -146px -94px; }
.icon-plus-white { width: 23px; height: 23px; background-position: 0px -150px; }
.icon-plus { width: 23px; height: 23px; background-position: -23px -150px; }
.icon-search { width: 21px; height: 22px; background-position: -46px -150px; }