.sidebar {
  position: relative;
  padding-bottom: 30px;

  &__container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  &__search {
    @extend .font-regular;
    @include transition($background-color-transition-function);

    margin-left: 10px;
    outline: none;
    border: none;
    color: $color-b3b3b3;
    font-size: 18px;
    max-width: 40%;
    text-align: center;

    &--container {
      @include transition($background-color-transition-function);
      @include border-radius(10px);

      border: 1px solid $color-5d6479;
      padding: 10px;

      &:hover {
        background-color: $color-e6e6e6;
        color: $color-5d6479;

        .sidebar__search {
          background-color: $color-e6e6e6;
          color: $color-5d6479;
        }
      }
    }

    &__results {
      margin: 20px 0;

      &--container {
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;
        }
      }

      &--single {
        @extend .font-light;

        letter-spacing: 0.1rem;
        font-size: 18px;
        color: $color-5d6479;
        text-decoration: none;

        .highlighted {
          @extend .font-semibold;
        }
      }

      &--title {
        @extend .font-semibold;

        font-size: 19px;
        color: $color-5d6479;
      }
    }
  }

  &__title {
    @extend .font-bold;

    font-size: 24px;
    margin-top: 0;
    padding-top: 20px;
    color: $color-5d6479;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
  }

  &__btn {
    @extend .font-semibold;

    font-size: 16px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $color-6cc04a;
    color: $color-white;
    text-decoration: none;

    &:hover {
      background-color: $color-6caa64;
    }

    &--title {
      margin-left: 10px;
    }
  }

  .sidebar__scrollbar {
    margin-top: 20px;
    max-height: calc(100% - 151px);
  }
}
